/* FONTS */



/* GENERALES */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(to right, #ff8647, #fdad69, #ffdd90);
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrap {
    width: 95%;
    max-width: 1200px;
    min-height: 500px;
    height: auto;
    background: linear-gradient(to right, #d4d6f1,#7578ee,#d4d6f1);
    box-shadow: 20px 20px 30px #4e3b24;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}



#form{
    width: 400px;
    height: 350px;
    background-color: rgba(225, 225, 225, 0.233);
    backdrop-filter:blur(20px);
    border-radius: 15px;
    border: 1px solid  rgba(225, 225, 225, 0.315);
    gap: 20px;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content{
    width: 80%;
    height: 80%;

    display: flex;
    justify-content: center;
   /*  align-items: center; */
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
}

#content #login{
    display: block;
    width: 34%;
    
}

#content h1{
    color: rgba(255, 255, 255, 0.849) ;  
    border-bottom: 3px solid rgba(255, 255, 255, 0.849) ;
    padding-bottom: 5px;
}

input[type = "text"],
input[type = "password"]{
    width: 300px;
    height: 35px;
    background-color:rgba(255, 255, 255, 0.068); ;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border:2px solid rgba(225, 225, 225, 0.788);
    outline: none;
    padding-left: 15px;
}

input[type = "text"]::placeholder,
input[type = "password"]::placeholder{
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.849);
}

input[type = button]{
    width: 80px;
    height: 35px;
    background-color:white;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border:2px solid rgba(225, 225, 225, 0.788);
    outline: none;
    color: #3333338f;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 13px;
}

.text{
    display: flex;
    color: rgba(255, 255, 255, 0.822) ;
    font-size: 10px ;
}

.text a{
    color: rgba(255, 255, 255, 0.822) ;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 5px;
}

